@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*$titre4:;*/
* {
  padding: 0px;
  margin: 0px;
}

header {
  height: 700px;
  background-image: url(./resource/images/headerfond.jpg);
}

nav {
  display: flex;
}

#divnav1 {
  display: flex;
}

#logonav {
  height: 50%;
  margin: 20px;
}

#navul {
  font-family: "IBM Plex Sans", serif;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  list-style-type: none;
}

.navli {
  font-family: "IBM Plex Sans", serif;
  color: white;
  margin: 0px 30px;
}

.navlif {
  font-family: "IBM Plex Sans", serif;
  color: white;
  margin-right: 5px;
}

#shop {
  font-family: "IBM Plex Sans", serif;
  color: white;
  margin-left: 30px;
}

#home {
  font-family: "IBM Plex Sans", serif;
  color: #b68c5a;
}

#divnav2 {
  font-family: "IBM Plex Sans", serif;
  margin-left: 110px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

#pnav2 {
  font-family: "IBM Plex Sans", serif;
  color: white;
  margin-right: 30px;
}

#booktable {
  font-family: "IBM Plex Sans", serif;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background-color: #b68c5a;
  padding: 20px 40px;
}

#anav2 {
  font-family: "IBM Plex Sans", serif;
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  font: "IBM Plex Sans", uppercase;
  text-transform: "IBM Plex Sans", uppercase;
  text-decoration: none;
  border-style: none;
}

#headerlogo {
  margin-left: 450px;
  margin-top: 70px;
  position: absolute;
}

#textlogoplay {
  display: flex;
  flex-direction: row;
  gap: 400px;
}

#logoplay {
  margin-top: 200px;
}

#Qualityfood {
  margin-top: 80px;
  margin-left: 160px;
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
  color: white;
}

#exploremenu {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: small;
  font-family: "IBM Plex Sans", serif;
  padding: 10px;
  margin-left: 170px;
  text-transform: "IBM Plex Sans", uppercase;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-width: 1px;
}

#category {
  background-image: url("./resource/images/banner.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff4de;
}

h2 {
  font-size: 150px;
  color: #eed5bb;
}

#square {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

#cheese {
  background-color: #c7910d;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.hamb {
  background-color: white;
  color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

#aboutus {
  background: #fefefe;
}

#imgaboutus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  gap: 40px;
}

#platsalad {
  width: 40%;
  border-style: solid;
  border-color: #fefefe;
  border-radius: 50%;
  border-width: 40px;
}

#platcrepe {
  width: 20%;
  height: 20%;
}

#platoeufs {
  width: 20%;
  height: 20%;
}

#divaboutuslogo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

#titreaboutus {
  text-align: left;
}

#textimgaboutus {
  display: flex;
  flex-direction: row;
  margin: 50px 300px;
}

#h3etp {
  justify-content: center;
}

.sous-titre {
  font-family: "IBM Plex Sans", serif;
}

#roundlogoaboutus {
  position: absolute;
  margin-top: 200px;
  margin-left: 800px;
}

#aboutush3 {
  margin-bottom: 15px;
  font-family: "Cormorant Garamond", black;
  font-size: 30px;
  text-transform: uppercase;
}

#textaboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#paboutus {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  margin: 40px;
  text-align: left;
}

#adiscovermore {
  text-align: center;
  font-family: "IBM Plex Sans", serif;
  border-radius: 10px;
  background-color: #b68c5a;
  padding: 20px 20px;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  border-style: none;
}

#ourmenu {
  margin-top: 100px;
  align-items: center;
  background-color: #fefefe;
  margin-bottom: 100px;
}

#imgpain {
  position: absolute;
  margin-top: -160px;
  margin-left: 970px;
  z-index: 0;
}

#imgsteakglace {
  position: absolute;
  margin-top: 250px;
}

#h4menu {
  font-family: "Cormorant Garamond", serif;
  color: black;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
  font-family: "Cormorant Garamond", black;
  font-size: 30px;
  text-transform: uppercase;
}

#the8 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas: "a e" "b f" "c g" "d h";
  row-gap: 25px;
  column-gap: 25px;
  justify-content: center;
}

.boxmenu {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#boxmenuborder {
  border: 3px dashed #c7910d;
}

.menu {
  margin-left: 15px;
}

.prices {
  color: #c7910d;
  font-size: 50px;
  margin-right: 12px;
}

#imgpain {
  width: 300px;
  height: 500px;
}

#imgsteakglace {
  width: 200px;
  height: 400px;
}

#gallery {
  padding-top: 100px;
  padding-bottom: 200px;
}

#platline1 {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 630px 300px 300px;
  grid-template-rows: 1fr;
  gap: 20px 30px;
  grid-template-areas: ". . ." ". . .";
  justify-items: stretch;
  justify-content: center;
}

#platline2 {
  display: grid;
  grid-template-columns: 300px 300px 630px;
  grid-template-rows: 1fr;
  gap: 20px 30px;
  grid-template-areas: ". . ." ". . .";
  justify-items: stretch;
  justify-content: center;
}

#viewmorephotos {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 20px;
}

#ourchefs {
  background-color: rgb(36, 34, 34);
  color: white;
  padding-top: 50px;
  padding-bottom: 150px;
}

#fourchefs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

#ourblog {
  display: flex;
  flex-direction: row;
}

#h3ourblog {
  text-align: center;
  margin-bottom: 15px;
  font-family: "Cormorant Garamond", black;
  font-size: 30px;
  text-transform: uppercase;
}

.sous-titre {
  text-align: center;
  font-family: "IBM Plex Sans", serif;
}

#cardsblog {
  margin-left: 190px;
  margin-right: 190px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardblog {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  background-color: #faf6ef;
  gap: 20px;
}

.date {
  display: flex;
  flex-direction: row;
  font-family: "IBM Plex Sans", serif;
  text-transform: uppercase;
  justify-content: center;
  font-size: smaller;
  gap: 10px;
  padding-top: 10px;
}

.pcardblog {
  font-family: "Cormorant Garamond", serif;
  font-size: larger;
  margin-top: 10px;
  padding-left: 20px;
}

.aourblog {
  margin-top: 30px;
  text-align: left;
  margin-left: 30px;
  font-family: "IBM Plex Sans", serif;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  border-style: none;
  margin-bottom: 50px;
}

#aourblog3 {
  background-color: #b68c5a;
  margin: 3px 10px;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 30px;
}

.vignettes {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
}

#pourblog3 {
  text-align: center;
  font-family: "IBM Plex Sans", serif;
  border-radius: 10px;
  padding: 20px 20px;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  border-style: none;
}

footer {
  display: flex;
  margin-top: 100px;
  background-image: url(./resource/images/footerfond.jpg);
  background-size: cover;
  color: white;
}
footer ul {
  font-family: "IBM Plex Sans", serif;
  display: flex;
  flex-direction: column;
}
footer ul li {
  font-family: "IBM Plex Sans", serif;
  margin-top: 10px;
  list-style-type: none;
}

#logofooterdiv {
  margin-top: 4em;
  display: flex;
  justify-content: center;
}

#divfooterul {
  color: #8d9d9e;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 220px;
  margin-right: 220px;
  gap: 70px;
  margin-bottom: 50px;
}

.afooter {
  color: #8d9d9e;
  text-decoration: none;
}

.h4footer {
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
}

#newsletter {
  color: #8d9d9e;
  font-family: "IBM Plex Sans", serif;
  width: 300px;
}

input {
  margin-top: 20px;
}

#contact {
  color: #8d9d9e;
  font-family: "IBM Plex Sans", serif;
  width: 250px;
}

#logofooter {
  align-items: center;
}

.footerul {
  list-style-type: none;
}

.icone {
  margin-right: 5px;
}

#footerrow {
  color: #8d9d9e;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 100px;
  font-family: "IBM Plex Sans", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  width: 95%;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.5;
}

#cuillere {
  position: absolute;
  margin-left: 47%;
  margin-top: -60px;
}

#copyright {
  font-size: small;
  margin-left: 80px;
}

span {
  color: #c7910d;
}

/*# sourceMappingURL=style.css.map */
