@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*$titre4:;*/
* {
  padding: 0px;
  margin: 0px;
}

header {
  height: 700px;
  background-image: url(./resource/images/headerfond.jpg);
}

nav {
  display: flex;
}

#divnav1 {
  display: flex;
}

#logonav {
  height: 50%;
  margin: 20px;
}

#navul {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  list-style-type: none;
}

.navli {
  color: white;
  margin: 0px 30px;
}

.navlif {
  color: white;
  margin-right: 5px;
}

#shop {
  color: white;
  margin-left: 30px;
}

#home {
  color: #b68c5a;
}

#divnav2 {
  margin-left: 120px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

#pnav2 {
  color: white;
  margin-right: 30px;
}

#booktable {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background-color: #b68c5a;
  padding: 20px 40px;
}

#anav2 {
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  font: "IBM Plex Sans", capitalize, black;
  text-transform: "IBM Plex Sans", capitalize, black;
  text-decoration: none;
  border-style: none;
}

#headerlogo {
  margin-left: 500px;
  position: absolute;
}

#Qualityfood {
  margin-top: 80px;
  margin-left: 160px;
  font-size: 100px;
  font-family: "Coromant Garamond";
  color: white;
}

#exploremenu {
  color: white;
  font: "IBM Plex Sans", capitalize, black;
  padding: 10px;
  margin-left: 170px;
  text-transform: "IBM Plex Sans", capitalize, black;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-width: 1px;
}

#square {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#cheese {
  background-color: #c7910d;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.hamb {
  background-color: white;
  color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

#aboutus {
  background: #fefefe;
}

#imgaboutus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  gap: 40px;
}

#platsalad {
  width: 40%;
  border-style: solid;
  border-color: #fefefe;
  border-radius: 50%;
  border-width: 40px;
}

#platcrepe {
  width: 20%;
  height: 20%;
}

#platoeufs {
  width: 20%;
  height: 20%;
}

#divaboutuslogo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#textimgaboutus {
  display: flex;
  flex-direction: row;
  margin: 50px 300px;
}

#textaboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#paboutus {
  font-size: 20px;
  margin: 40px;
  text-align: left;
}

#aaboutus {
  text-align: center;
  font: "IBM Plex Sans", capitalize, black;
  text-transform: capitalize;
  text-decoration: none;
  border-style: none;
}

#ourblog {
  display: flex;
  flex-direction: row;
}

#cardsblog {
  margin: 20px 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardblog {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
}

.pcardblog {
  margin-top: 10px;
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
