@use "./partiel" as *;
@use "./reset" as *;

#category {
  background-image: $background-article2;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff4de;
}

h2 {
  font-size: 150px;
  color: #eed5bb;
}

#square {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}
#cheese {
  background-color: #c7910d;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.hamb {
  background-color: white;
  color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
