@use "./partiel" as *;
@use "./reset" as *;

#gallery {
  padding-top: 100px;
  padding-bottom: 200px;
}

#platline1 {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 630px 300px 300px;
  grid-template-rows: 1fr;
  gap: 20px 30px;
  grid-template-areas:
    ". . ."
    ". . .";
  justify-items: stretch;
  justify-content: center;
}
#platline2 {
  display: grid;
  grid-template-columns: 300px 300px 630px;
  grid-template-rows: 1fr;
  gap: 20px 30px;
  grid-template-areas:
    ". . ."
    ". . .";
  justify-items: stretch;
  justify-content: center;
}

.button {
  font-size: smaller;
  font-family: "IBM Plex Sans", serif;
  font-weight: 800;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

#flechegallery {
  margin-left: 10px;
}

#viewmorephotos {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 20px;
}
