@use "./partiel" as *;
@use "./reset" as *;

@media only screen and (min-width: 768px) {
}
header {
  height: 700px;
  background-image: $background-article1;
}
nav {
  display: flex;
}
#divnav1 {
  display: flex;
}
#logonav {
  height: 50%;
  margin: 20px;
}
#navul {
  font-family: "IBM Plex Sans", serif;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  list-style-type: none;
}

.navli {
  font-family: "IBM Plex Sans", serif;
  color: white;
  margin: 0px 30px;
}

.navlif {
  font-family: "IBM Plex Sans", serif;
  color: white;
  margin-right: 5px;
}

#shop {
  font-family: "IBM Plex Sans", serif;
  color: white;
  margin-left: 30px;
}

#home {
  font-family: "IBM Plex Sans", serif;
  color: #b68c5a;
}

#divnav2 {
  font-family: "IBM Plex Sans", serif;
  margin-left: 110px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

#pnav2 {
  font-family: "IBM Plex Sans", serif;
  color: white;
  margin-right: 30px;
}

#booktable {
  font-family: "IBM Plex Sans", serif;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background-color: #b68c5a;
  padding: 20px 40px;
}

#anav2 {
  font-family: "IBM Plex Sans", serif;
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  font: $button;
  text-transform: $button;
  text-decoration: none;
  border-style: none;
}

#headerlogo {
  margin-left: 450px;
  margin-top: 70px;
  position: absolute;
}

#textlogoplay {
  display: flex;
  flex-direction: row;
  gap: 400px;
}

#logoplay {
  margin-top: 200px;
}

#Qualityfood {
  margin-top: 80px;
  margin-left: 160px;
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
  color: white;
}

#exploremenu {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: small;
  font-family: "IBM Plex Sans", serif;
  padding: 10px;
  margin-left: 170px;
  text-transform: $button;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-width: 1px;
}

@media only screen and (max-width: 410px) {
}
@media only screen and (min-width: 410px) and (max-width: 768px) {
}
