$background-article1: url(./resource/images/headerfond.jpg);
$background-article2: url("./resource/images/banner.jpg");
$background-article3: #fefefe;
$background-article4: #faf6ef;
$background-article5: #faf6ef;
$background-article6: url(./resource/images/footerfond.jpg);

$button: "IBM Plex Sans", uppercase, black;
$titre1: "Cormorant Garamond", uppercase, black;
$titre2: "Cormorant Garamond", uppercase, rbga(0, 0, 0, 0.5);
$titre3: "Cormorant Garamond", black;
/*$titre4:;*/
$sous-titre: "IBM Plex Sans", black;
$nav: "IBM Plex Sans", white;
$prices: "Coromant Garamond", #c6ad64;
